* {
    margin: 0; 
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background: hsl(185, 75%, 39%);
    overflow: hidden;
}

.card {
    position: absolute;
    width: 350px;
    height: 365px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;   
    background: #fff;
    z-index: 100;
    border-radius: 10px;
}

.card-main {
    position: relative;
    height: 75%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 59%);
}

.card-main-background {
    width: 100%;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; ;
}

.card-main-picture {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 100%;
}

.card-main p {
   text-align: center;
   margin-bottom: 10%;
   color: hsl(227, 10%, 46%);
   font-size: 18px;
}

.card-main p b {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
}

.card-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
}

.card-stats p {
    text-align:center;
    color:hsl(227, 10%, 46%)
}

.card-stats p b {
    color:hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
}

.bg1 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("images/bg-pattern-top.svg");
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: translatex(-50%) translateY(-50%);
}

.bg2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("images/bg-pattern-bottom.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: translatex(50%) translateY(50%);
}

